<%- include('../../../partials/message.ejs'); %>
<div class="card shadow mt-2">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-5"> 
                <form action="/admin/item/add/feature" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter name " name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="qty">QTY</label>
                    <input type="number" placeholder="Enter qty" name="qty" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" name="image" class="form-control" required>
                </div>
                <div class="text-right">
                    <input type="hidden" value="<%= itemId %>" name="itemId">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-striped" id="datatableFeature">
                            <thead>
                                 <th>No</th>
                                 <th>Name</th>
                                 <th>QTY</th>
                                 <th>Image</th>
                                 <th>Action</th>
                            </thead>
                            <tbody>
                                 <% for(let i = 0; i < feature.length; i++) { %> 
                                    <tr>
                                        <td><%= i + 1%></td>
                                        <td><%= feature[i].name %></td>
                                        <td><%= feature[i].qty %></td>
                                        <td>
                                            <img style="width: 32px; height: 32px;" src="https://admincloud-staycation.hero.com/<%= feature[i].imageUrl %>" alt="Image activity">
                                        </td>
                                        <td>
                                            <form action="/admin/item/<%= itemId %>/feature/<%= feature[i].id %>?_method=DELETE" method="POST"> 
                                                <a href="javascript:void()" data-id="<%= feature[i].id %>" data-name="<%= feature[i].name %>" data-qty="<%= feature[i].qty %>" type="button" class="btn btn-sm btn-outline-warning button-update"><i class="fas fa-edit"></i></a>
                                                <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>

                                <% } %>
                            </tbody>
                 </table>
            </div>
        </form>
        </div>
    </div>
</div>
   